.topic-wrapper {
  display: grid;
  grid-gap: 1.5rem;
  padding: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.card-wrapper {
  perspective: 40rem;
  width: 500px;
  height: 500px;
}

.card-inner {
  display: flex;
  width: 100%;
  height: 50%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-wrapper:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  height: 300px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-front img {
  width: 100%;
}

.card-back {
  background-color: #bfc0c0;
  color: #222222;
  transform: rotateY(180deg);
}

.faq .accordion-container {
  position: relative;
  margin: 10px;
}

.faq .topic {
  position: relative;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  cursor: pointer;
}

.faq .topic::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}

.faq .faq-content {
  position: relative;
  background: white;
  height: 0;
  font-size: 16px;
  text-align: justify;
  width: 65%;
  overflow: hidden;
  transition: 0.5s;
}

.faq .accordion-container.active .faq-content {
  height: fit-content;
}

.faq .accordion-container.active .topic::before {
  content: '-';
  font-size: 30px;
}