.banner-wrapper {
  max-width: 100%;
  position: relative;
  margin: auto;
}

.banner {
  position: relative;
  max-width: 100%;
  height: 300px;
  margin: auto;
}

.banner-box {
  max-height: 300px;
}

.banner-box img {
  vertical-align: top;
  max-height: 250px;
  width: 100%;
  overflow: hidden;
}

/* Sliding animation */
.slide {
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 3s;
  animation: slide 1s forwards;
  animation-delay: 3s;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}